.clock-body {
  width: 300px;
  height: 300px;
  border: 5px solid black;
  border-radius: 50%;
  position: relative;
}

.clock-center {
  height: 15px;
  width: 15px;
  background: black;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.clock-pointer {
  width: 5px;
  height: 300px;
  background: linear-gradient(0, transparent 50%, black 50%);
  position: absolute;
  left: 50%;
  transform: translateX(-50%) rotate(0);
}

.rotate {
  animation: rotate 60s linear infinite;
}

@keyframes rotate {
  100% {
    transform: translateX(-50%) rotate(360deg);
  }
}
