@import 'reset.css';
@import "../../node_modules/swiper/swiper-bundle.min.css";

@font-face {
  font-family: STARWARS;
  src: url("../font/STARWARS/STARWARS.woff");
}

body {
  font-family: STARWARS, 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

#banner-container {
  background: lightgrey;
  overflow: hidden;
}

.slider-list {

}

.swiper-container {
  max-width: 250px;
  max-height: 200px;
  transform: translateX(250px);
}

.swiper-wrapper .saber_part {
  align-self: center;
}

#btn-assemble {
  font-family: STARWARS, 'Roboto', sans-serif;
  border: none;
  width: 100%;
  cursor: pointer;
  text-align: center;

  background: #fff;
  color: #fff;
  text-shadow: 0 0 2px #fff,
  0 0 4px #fff,
  0 0 6px #0073e6,
  0 0 8px #0073e6,
  0 0 10px #0073e6,
  0 0 12px #0073e6,
  0 0 14px #0073e6;

  font-size: 1.3rem;
  padding: 1rem 0;
  opacity: 0;
  visibility: hidden;
}