@import 'reset.css';
@import "../../node_modules/swiper/swiper-bundle.min.css";

@font-face {
  font-family: STARWARS;
  src: url("../font/STARWARS/STARWARS.woff");
}

:root {
  --banner-width: 300px;
  /*--font-color: #DC143C;*/
  --font-color: #0073e6;
  --swiper-theme-color: var(--font-color);
}

body {
  font-family: STARWARS, 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

#banner-container {
  background: lightgrey;
  width: var(--banner-width);
  overflow: hidden;
  position: relative;
}

.slider-list {

}

.swiper-container {
  transform: translateX(var(--banner-width));
}

.swiper-wrapper .saber_part {
  align-self: center;
}

canvas.spark {
  position: absolute;
  z-index: 100;
  visibility: hidden;
}

.spark.left {
  left: 0;
  top: 25%;
  transform: translateY(-50%);
}

.spark.right {
  right: 0;
  top: 50%;
  transform: translateY(-50%) scale(-1, 1);
}

#btn-assemble {
  font-family: STARWARS, 'Roboto', sans-serif;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  text-align: center;
  width: 100%;
  background: transparent;

  /*background: #fff;*/
  border-top: 2px solid #333333;
  color: var(--font-color);
  text-shadow: 0 0 2px #fff,
  0 0 4px #fff,
  0 0 6px var(--font-color),
  0 0 8px var(--font-color),
  0 0 10px var(--font-color),
  0 0 12px var(--font-color),
  0 0 14px var(--font-color);

  font-size: 1.3rem;
  padding: 1rem 0.5rem;
  opacity: 0;
  visibility: hidden;
}