<form method="post">
    <label for="cityname">Provide a city name in english</label>
    <input name="cityname" id="cityname" type="text">
</form>

<section>
    <% if (data != null) { %>
        <% console.log(data) %>
    <% } %>
</section>