body {
    font-family: 'Roboto', sans-serif;
}

h1, .h1 {
    font-family: 'Neucha', cursive;
}

h2, .h2 {
    font-family: 'Kaushan Script', cursive;
}

#button-toTop {
    position: absolute;
    right: 3rem;
    bottom: 3rem;
}
