
@import "fonts";

/* Colors */
$bg-pink: #E1A6AD;
$bg-dark: #946E72;
$bg-dark-lighten: lighten($bg-dark, 10%);
$bg-dark-opac: #946E7280;
$bg-gray: #E1E1E1;

$light:         #FFE3E3;
$dark:          #333333;

$primary:       $light;
$link-decoration:   none;
