body div {
  width: 100vw;
  height: 10vh;
  background: lightgray;
}

body div:last-child {
  display: none;
}

@media screen and (min-width: 900px) {
  body div:last-child {
    display: block;
  }
}

@media screen and (max-width: 899px) and (min-width: 600px) {
  body div:first-child {
    background: red;
  }
}

@media screen and (max-width: 599px) {
  body div {
    border: 1px solid black;
  }
}
