*,
*::after,
*::before {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

body {
    box-sizing: border-box;
    background: #333333;
    color: #fff;
}

a {
    text-decoration: none;
    color: inherit;
}

a:visited {
    color: inherit;
}

ul {
    list-style: none;
}
