.game-background {
  background-image: url("assets/wolf_moon.jpg ");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
}

.targets {
  position: absolute;
  width: 100vw;
  height: 70vh;
  top: 0;
  left: 0;
}

.targets .fa-meteor {
  position: absolute;
  opacity: 0;
  font-size: 4rem;
  animation: movement 10s linear infinite;
  padding: 2rem;
}

.targets .fa-meteor:nth-child(1) {
  top: 10%;
  right: 0;
  animation-delay: 2s;
}

.targets .fa-meteor:nth-child(2) {
  top: 40%;
  right: 0;
  animation-delay: 4s;
}

.targets .fa-meteor:nth-child(3) {
  top: 80%;
  right: 0;
  animation-delay: 5s;
}

.targets .fa-meteor:nth-child(4) {
  top: 20%;
  right: 0;
  animation-delay: 1s;
}

.targets .fa-meteor:nth-child(5) {
  top: 50%;
  right: 0;
  animation-delay: 8s;
}

@keyframes movement {
  0% {right: 0; opacity: 0}
  50% {opacity: 100%; color: white}
  100% {right: 100%; opacity: 0}
}

.targets .fa-meteor:hover {
  top: 100%;
  color: darkred;
  opacity: 0;
  transition: top 2.5s;
  /*animation-play-state: paused;*/
}