<app-collapsible header="{{ title }}">
  <p>{{ message }}</p>
</app-collapsible>
<app-collapsible header="collapsible">
  <h2>not ok</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci commodi doloribus excepturi quia, tempora tempore velit voluptate. Amet aut consequatur eius eum molestias nihil optio repellat ullam veniam? Accusamus architecto autem cumque dolorem ea eius est, exercitationem explicabo harum id inventore ipsam iure maiores, maxime natus porro quae quis quos soluta vel! Blanditiis culpa deserunt dignissimos distinctio hic id inventore maiores, natus officia perferendis quidem quod, repellat saepe similique sint tempora tempore velit vero. Ad alias assumenda consequatur, eum ex fuga itaque neque, perspiciatis possimus, quia quis repellat repudiandae ut? Atque corporis earum eos nesciunt odio provident quasi sit vitae?</p>
</app-collapsible>
