* {
  margin: 0;
  padding: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  width: 100%;
  min-width: 100%;
  background: #333333;
  color: #fefefe;
  font-family: Monospace;
}

header {
  display: flex;
  width: 100%;
  min-height: 15vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header nav ul {
  display: flex;
  list-style: none;
}

header li {
  padding: 1rem 2rem;
}

header li a {
  text-decoration: none;
  color: lightblue;
}

#main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.more-info {
  font-size: 1.5em;
}

.aqi {
  background-color: gold;
  color: #333333;
  text-align: center;
  font-size: 2em;
  font-weight: bold;
}

.weatherDis > div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0.5rem;
}