@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');

:root {
  --pri-color: #000;
  --sec-color: #ff4069;
  --ter-color: #ffd171;
  --ter-dark-color: #fda742;
  --qua-color: #fff;
}

body {
  font-family: 'Indie Flower';
  font-size: 1rem;
  background: var(--pri-color);
  color: var(--sec-color);
}

header {
  display: flex;
  position: relative;
}

#logo-brand {
  max-height: 100px;
}

header nav {
  display: flex;
  position: absolute;
  right: 0;
  align-self: center;
}

header nav ul {
  display: flex;
  list-style: none;
  margin-right: 2rem;
}

header nav ul > li {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

a {
  color: inherit;
  text-decoration: none;
}

hr {
  overflow: visible;
  width: 50vw;
  position: relative;
  border-color: var(--sec-color);
}

hr::before {
  position: absolute;
  z-index: -1;
  content: '';
  height: 0;
  width: 0;
  left: -1px;
  top: 1px;

  border-color: #ff4069 transparent;
  border-style: solid;
  border-width: 0.3rem 47vw 0 3vw;
}

hr::after {
  position: absolute;
  z-index: -1;
  content: '';
  height: 0;
  width: 0;
  left: -1px;
  bottom: 1px;

  border-color: #ff4069 transparent;
  border-style: solid;
  border-width: 0 3vw 0.3rem 47vw;
}

#banner {
  background: url('images/background.jpg') no-repeat center;
  background-size: cover;
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#banner .container-middle {
  background: var(--sec-color);
  color: var(--qua-color);
  padding: 1rem;
  width: 25vw;
  border: 3px solid var(--pri-color);
}

#banner .container-middle span {
  color: var(--ter-color);
}

#offer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
}

#offer .members {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

#offer .members .card {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  background-color: var(--qua-color);
  margin: 1rem;
  padding: 1rem;
  height: 40vh;
  width: 50vw;

  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: right;
}

#offer .members .card:nth-child(1) {
  background-image: url('images/alastorflipped.png');
  border: solid 2px var(--sec-color);
}

#offer .members .card:nth-child(2) {
  background-image: url('images/angeldust.webp');
  border: solid 2px var(--sec-color);
}

#offer .members .card:nth-child(3) {
  background-image: url('images/charlie.png');
  border: solid 2px var(--sec-color);
}

#offer .members .card h3 {
  color: var(--ter-color);
  text-shadow: 1px 1px 0 var(--sec-color);
  font-size: 2rem;
  position: absolute;
  top: 3rem;
}

#offer .members .card ul {
  background-color: var(--pri-color);
  padding: 1rem 3.5rem 3rem 2rem;
  position: absolute;
  left: 2rem;
  bottom: 5rem;
  border: solid 1px var(--sec-color);
}

#offer .members .card button {
  background: var(--ter-color);
  color: var(--pri-color);
  padding: 0.25rem 2rem;
  font-family: inherit;
  font-size: 1rem;
  position: absolute;
  bottom: -1rem;
  right: -1rem;
  border: solid 2px var(--sec-color);
}

#offer .members .card button:hover,
#contact form button:hover {
  cursor: pointer;
}

#offer .members .card .price {
  background: var(--pri-color);
  position: absolute;
  right: 1rem;
  bottom: 1rem;
  padding: 0.5rem 0.25rem;
  border: solid 1px var(--sec-color);
}

input,
textarea {
  font-family: 'Quicksand';
  background: var(--ter-color);
}

#contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
}

#contact form {
  display: flex;
  flex-direction: column;
  width: 40vw;
}

#contact form label {
  padding: 0.5rem 0;
}

#contact form input {
  font-size: 1.5rem;
}

#message {
  height: 20vh;
}

#contact form button {
  color: inherit;
  font-family: inherit;
  align-self: flex-end;
  background: var(--pri-color);
  padding: 0.5rem 1rem;
  border: solid 1px var(--sec-color);
}

#contact::before {
  content: '';
  background-image: url('images/husk_3.webp');
  background-repeat: no-repeat;
  background-size: contain;
  height: 50vh;
  width: 20vw;
  position: absolute;
  left: 1rem;
}

#contact::after {
  content: '';
  background-image: url('images/Niffty2_by_ToughDoge.png');
  background-repeat: no-repeat;
  background-size: contain;
  height: 50vh;
  width: 20vw;
  position: absolute;
  right: 1rem;
}

footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
  position: relative;
}

footer #socialmedia-text {
  font-weight: bold;
}

footer ul {
  display: flex;
  list-style: none;
}

footer ul > li {
  padding: 0 0.5rem;
}

footer ul > li i {
  color: var(--pri-color);
  background: var(--sec-color);
  border: 1px solid var(--sec-color);
  border-radius: 2px;
}
