.tp_parent {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 80vh 50vh 20vh;
  grid-template-areas:
    'header header header header header header'
    '. . content content . .'
    '. footer footer footer footer .';
}

.tp_child {
  border: 1px solid black;
}

.tp_child:nth-child(1) {
  grid-template-rows: 10vh 50vh 20vh;
}

.tp_child:nth-child(1) {
  grid-area: header;
  background: lightblue;
}

.tp_child:nth-child(2) {
  grid-area: content;
  background: lightcoral;
}

.tp_child:nth-child(3) {
  grid-area: footer;
  background: lightgoldenrodyellow;
}
